site_name: "Beer: Challenging Problems in Probability and Statistics"
repo_url: https://github.com/shenxiangzhuang/beer
repo_name: shenxiangzhuang/beer
edit_uri: ""
site_description: Deep Learning from Scratch
site_author: Xiangzhuang Shen
copyright: Copyright &copy; 2023 Xiangzhuang Shen

# Page tree
nav:
  - Home: index.md
  - Fifty:
    - fifty/index.md
    - "1. The Sock Drawer": fifty/1_the_sock_drawer.md
    - "2. Successive Wins": fifty/2_successive_wins.md
    - "3. Flippant Jury": fifty/3_flippant_jury.md
    - "4. Trials until first success": fifty/4_first_success.md
    - "5. Coin in Square": fifty/5_coin_in_square.md
    - "6. Chuck a Luck": fifty/6_chuck_a_luck.md

  - Changelog: CHANGELOG.md
not_in_nav: |
  /util/*.md

theme:
  name: material
  custom_dir: docs/template
  icon:
    repo: fontawesome/brands/github
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: deep purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: cyan
      accent: deep purple
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    # - announce.dismiss
    - content.code.annotate
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate

docs_dir: docs

extra_css:
  - css/extra.css

extra_javascript:
  - js/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/shenxiangzhuang/beer
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/xiangzhuang-shen-a81825157/

markdown_extensions:
  - attr_list
  - md_in_html
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      linenums_style: pymdownx.inline
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.snippets:
      url_download: true
      url_max_size: 33554432
  - pymdownx.tabbed:
      alternate_style: true
  - abbr
  - admonition
  - footnotes

watch:
  - ./docs

plugins:
  - search
  - git-authors:
      show_contribution: true
      show_line_count: true
      show_email_address: true
      count_empty_lines: true
      fallback_to_empty: false
      authorship_threshold_percent: 10
      enabled: true
      strict: true
  - git-revision-date-localized:
      enable_creation_date: true
  - markdown-exec
  - mkdocs-simple-hooks:
      hooks:
        on_post_build: "docs.hooks:copy_get"
  - mkdocs-version-annotations:
      version_added_title: 'new in **\1**'
      version_changed_title: 'changed in **\1**'
      version_removed_title: 'removed in **\1**'
  - include-markdown:
      preserve_includer_indent: true

  - autorefs
  - mkdocstrings:
      handlers:
        python:
          import:
          - https://docs.python.org/3/objects.inv
          - https://www.mkdocs.org/objects.inv
          options:
            docstring_style: sphinx
            docstring_options:
              ignore_init_summary: true
            docstring_section_style: table
            heading_level: 2
            merge_init_into_class: true
            separate_signature: true
            show_root_heading: false
            show_root_full_path: false
            show_signature_annotations: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            signature_crossrefs: true
            show_root_members_full_path: true
