<script src="https://giscus.app/client.js"
        data-repo="shenxiangzhuang/beer"
        data-repo-id="R_kgDOKZEnag"
        data-category="Q&A"
        data-category-id="DIC_kwDOKZEnas4CZrBQ"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
